# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

PhaseOne/.vscode
PhaseOne/src/.out*
PhaseOne/src/.o* 
PhaseOne/src/systemTests/.o* 
PhaseOne/src/systemTests/.out* 
PhaseOne/src/systemTests/.txt* 
# testing

# production

# misc
